<h1>Assignments</h1>
<%= link_to "New Assignment", new_assignment_path %>

<ul>
  <% @assignments.each do |assignment| %>
    <li class="assignment">
      <%= assignment.person.name %>,
      Team: <%= assignment.team.name %>,
      Role: <%= assignment.role %>,
      <%= assignment.effective_date %>,
      <%= assignment.completion_date %>
      <%= link_to "Edit", edit_assignment_url(assignment) %>
    </li>
  <% end %>
</ul>
