<%= form_with model: @person do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, id: 'Name' %>
    <%= f.label :team %>
    <%= f.collection_select(:team_id  , @teams, :id, :name, include_blank: true )%>
  </p>
  <%= f.submit "Save" %>
<% end %>
