<h1><%= @person.name %></h1>

<h3>Active Assignments</h3>
<ul class="current-team-assignments">
  <% @person.active_assignments.each do |assignment| %>
    <li class="assignment">
      <h4>Team: <%= assignment.team.name %></h4>
      Effective: <%= assignment.effective_date %><br>
      Completion: <%= assignment.completion_date %>
    </li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_person_path(@person) %>
