<h1>The Plan for the Week!</h1>

<p>Hello Friendly Mavens!</p>
<p>Here are the plans:</p>

<%= @plans.each do |plan| %>
  <h3><%= plan.team.name %></h3>
  <p>
    Members: <%= plan.team.people.map(&:name).join(', ') %> </p>
  <ul>
    <li><%= plan.project.name %></li>
    <li><%= plan.project.due_at %></li>
    <li><%= plan.project.status %></li>
  </ul>
<% end %>
