<h1>The Plan for the Week!</h1>

<p>Hello Friendly Mavens!</p>
<p>Here is the plan for the week!</p>

<% Team.all.each do |team| %>
<h3>team.name</h3>
  <p>
    Members: <%= team.people.map(&:name).join(', ') %>
  </p>
  <h2>Projects</h2>
  <table class="project-list">
    <thead>
    <tr>
      <td>Project Name</td>
      <td>Team</td>
      <td>Status</td>
      <td>Start date</td>
      <td>Due Date</td>
    </tr>
    </thead>
    <tbody>
    <% @plan.projects_for_week.each do |project| %>
      <tr class="project-list-item">
        <td class="project-name"><%= project.name %></td>
        <td class="project-team"><%= project.team_name %></td>
        <td class="project-status"><%= project.status %></td>
        <td class="project-start-at"><%= project.start_at %></td>
        <td class="project-due-at"><%= project.due_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

