<li class="plans">
  <%= plan.team.name %> for <%= plan.week %>
  <ul>
    <% plan.team.active_assignments(plan.week).each do |assignment| %>
      <li>
        <%= "#{assignment.role}:" unless assignment.role.nil? %> <%= "#{assignment.person.name}" %>
      </li>
    <% end %>
  </ul>
  Projects:
  <ul>
    <%= render 'projects/project_list_item', project: plan.project %>
  </ul>
</li>
