<h1>Plans</h1>
<div>
  <%= link_to "New Plan", new_plan_path %>
</div>
<% @plans.each do |plan| %>
  <div class="plan-card">
    <span><strong><%= plan.team %></strong></span>
    <div>
      <span><%= plan.project.name %></span> <br>
      <span><%= plan.project.due_at %></span> <br>
      <span><%= plan.project.status %></span> <br>
      <span><%= plan.week %></span> <br>
    </div>
  </div><br>
<% end %>

