<h1>New Plan</h1>

<%= form_with model: Plan.new do |f| %>
  <%= label_tag :team %>
  <%= f.text_field :team %>

  <%= label_tag :project%>
  <%= f.text_field :project %>

  <%= label_tag :project_due%>
  <%= f.text_field :project_due %>

  <%= label_tag :project_status%>
  <%= f.text_field :project_status %>

  <%= label_tag :week%>
  <%= f.date_field :week %>

  <%= f.submit "Save" %>
<% end %>