<h1>New Plan</h1>

<%= form_with model: Plan.new do |f| %>
  <%= label_tag :team %>
  <%= f.collection_select(:team, @teams, :name, :name) %>

  <%= label_tag :project%>
  <%= f.collection_select(:project_id, @projects, :id, :name) %>

  <%= label_tag :week%>
  <%= f.select :week, @weeks %>

  <%= f.submit "Save" %>
<% end %>