<h1>New Plan</h1>

<%= form_with model: Plan.new do |f| %>
  <%= label_tag :team %>
  <%= f.collection_select(:team, @teams, :name, :name) %>

  <%= label_tag :project%>
  <%= f.collection_select(:project, @projects, :name, :name) %>

  <%= label_tag :project_due%>
  <%= f.text_field :project_due %>

  <%= label_tag :project_status%>
  <%= f.text_field :project_status %>

  <%= label_tag :week%>
  <%= f.select :week, @weeks %>

  <%= f.submit "Save" %>
<% end %>