<!DOCTYPE html>
<html>
  <head>
    <title>TeamTrack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Team Track</h1>
    <h2>Main Menu</h2>
    <ul class="menu">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Weekly Plans", weekly_plans_path %></li>
      <li><%= link_to "Teams", teams_path %></li>
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to "Project Categories", project_categories_path %></li>
      <li><%= link_to "People", people_path %></li>
      <li><%= link_to "Assignments", assignments_path %></li>
    </ul>
    <% if flash.notice %>
      <div class="notice"><%= flash.notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
